/* Remove the default style that comes with every browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: white;
}

.main {
  background: rgb(141, 147, 153);
  width: 400px;
  height: 175px;
  margin: 100px auto; /* 'Auto' is to center it and px prior pushes it down*/
}
