@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

/* Remove the default style that comes with every browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url('./pattern.png'); /* Created pattern in pattern.flaticon.com */
}

.main {
  background: white;
  color: white;
  width: 400px;
  height: 175px;
  margin: 100px auto; /* 'Auto' is to center it and px prior pushes it down*/
  position: relative; /* So it's child class '.badge' can be positioned within*/
  padding: 30px; /* Room on the sides of the div*/
  border-radius: 15%;
}

.badge {
  background: #e66357;
  color: white;
  padding: 5px 10px;
  width: 150px; /* Width of the red badge */
  font-family: sans-serif;
  font-weight: bold;
  position: absolute;
  /* Top is a negative number, so it can be positioned ontop of .main div*/
  top: -15px; /* Works because parent div '.main' position is now: 'relative' */
  left: 30%; /* Works because parent div '.main' position is now: 'relative' */
  border-radius: 15%;
}

.clock {
  background: darkslategray;
  text-align: center;
  font-size: 55px;
  height: 100%; /* Makes it fill the the inside of parent div as oppose to just a line*/
  padding-top: 23px; /* To push it down to middle */
  font-family: 'Orbitron', sans-serif; /* Imported font from google fonts*/
  color: yellow;
  border-radius: 15%;
}
